<fieldset>
  <div class="control-group">
    <div class="row-fluid">
      <div class="span8">
        <label class="text required control-label"><%= b.check_box :correct %></label>
        <div class="controls">
          <%= b.text_area :content, { class: 'span12 can_preview', rows: 1, data: { preview: b.object.object_id } } %>
        </div>
      </div>
      <div class="span3" id="<%= b.object.object_id %>">
        <%= t('asciimath_preview') %>
      </div>
      <div class="span1">
        <%= b.hidden_field :_destroy %>
        <%= link_to raw('&times;'), '#', class: 'close remove_fields' %>
      </div>
    </div>
  </div>
</fieldset>
