%h1 已经购买的年级
%table.table.table-bordered.table-striped
  %thead
    %tr
      %th= Grade.human_attribute_name(:position)
      %th= Grade.human_attribute_name(:name)
      %th= Grade.human_attribute_name(:description)
  %tbody
    - @grades.each do |grade|
      %tr
        %td= link_to "#{grade.position}" ,grade_path(grade)
        %td= link_to "#{grade.name}" ,grade_path(grade)
        %td= grade.description