<fieldset>
  <div class="row-fluid">
    <div class="span8">
      <%= b.input :content, input_html: { class: 'span12 can_preview', rows: 5, data: { preview: b.object.object_id } } %>
    </div>
    <div class="span4" id="<%= b.object.object_id %>">
      <%= t('asciimath_preview') %>
    </div>
  </div>

  <div class="control-group question_image">
    <label class="control-label" for="question_image"><%= t("activerecord.attributes.question.image") %></label>
    <div class="controls">
      <div class="image">
        <% if b.object.image? %>
          <%= image_tag(b.object.image_url(:thumb)) %>
        <% end -%>
        <span class="upload-image">
          <%= b.file_field :image %>
        </span>
        <%= b.hidden_field :image_cache %>
      </div>
    </div>
  </div>
</fieldset>
