<%= search_form_for(@q, url: admin_unit_question_group_path(@unit, @question_group), html: { class: 'well' }) do |f| %>
  <div class="controls-row">
    <%= f.select :type_eq, [[t('all_question_type'), '']] + Question.instanceable_classes.map { |klass| [klass.model_name.human, klass.name] }, {}, { class: 'span3' } %>
    <%= f.text_field :subject_cont, placeholder: t('search_by', attr_name: Question.human_attribute_name(:subject)), class: 'span9' %>
  </div>

  <div class="controls-row">
    <%= f.label :level, class: 'span3' %>
    <%= f.select :level_gteq, options_for_question_level, { selected: @question_level_gteq }, { class: 'span4' } %>
    <div class="text span1 text-center">-</div>
    <%= f.select :level_lteq, options_for_question_level, { selected: @question_level_lteq }, { class: 'span4' } %>
  </div>

  <div class="text-right">
    <%= f.submit t('search'), class: 'btn btn-primary' %>
  </div>

  <hr>

  <ul class="selectable-question-list">
    <% questions.each do |question| %>
      <li>
        <%= render '/admin/questions/item', { unit: unit, question_group: question_group, question: question, actions: { add_to_unit: true } } %>
      </li>
    <% end -%>
  </ul>
<% end %>
