<div class="navbar navbar-fixed-top" data-dropdown="dropdown">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to t('app_name'), root_path, class: 'brand' %>
      <div class="nav-collapse subnav-collapse collapse pull-right" id="top-navigation">
        <ul class="nav">
          <li class="<%= 'active' if controller.class.to_s == 'HomeController' and params[:action] == 'index'%>"><%= link_to t('home'), root_path %></li>
          <li class="<%= 'active' if params[:action] == 'privacy' %>"><%= link_to t('privacy'), home_privacy_path %></li>
          <li class="<%= 'active' if controller.class.to_s == 'StagesController' %>"><%= link_to Stage.model_name.human, root_path %></li>
          <% if user_signed_in? %>
          <li class="<%= 'active' if controller.class.to_s == 'CreditsController' %>"><%= link_to Credit.model_name.human, credits_path %></li>
          <li class="<%= 'active' if controller.class.to_s == 'OrdersController' %>"><%= link_to Order.model_name.human, orders_path %></li>
          <% end %>
        </ul>
        <ul class="nav pull-right">
          <% if user_signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= t('account') %>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to current_user.email, edit_user_registration_path %></li>
                <li><%= link_to t("study_schedule"), study_schedule_user_path(current_user) %></li>
                <li><%= link_to t("study_record"), study_record_user_path(current_user) %></li>
                <li><%= link_to t("study_record_chart"), study_record_chart_user_path(current_user) %></li>
                <li><%= link_to t('sign_out'), destroy_user_session_path, :method => :delete, :id => "sign-out" %></li>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
