-if !@question.nil?
  %div.clearfix
    %div.pull-left
      %p
        = "#{$i}:"
        = simple_format(h(@question.subject))
    %div
      - if @question.image?
        = link_to image_tag(@question.image_url(:thumb)), @question.image_url, class: 'pull-right'
  = render "/admin/questions/#{@question.class.name.underscore}/do_question", { question: @question, answer: @answer }