<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= Exam.human_attribute_name(:unit) %></th>
      <th><%= Exam.human_attribute_name(:user) %></th>
      <th><%= Exam.human_attribute_name(:duration) %></th>
      <th><%= Exam.human_attribute_name(:point) %></th>
      <th><%= t("wrong_answer") %>
      <th><%= t("avg_duration", scope: "ranking_type") %></th>
      <th><%= t("avg_point", scope: "ranking_type") %></th>
      <th><%= t("ranking", scope: "ranking_type") %></th>
    </tr>
  </thead>
  <tbody>
    <%= @ranks.each do |rank| %>
      <tr>
        <td><%= @grade.try(:name)%></td>s
        <td><%= rank['user_id'] %></td>
        <td><%= rank['avg_duration'] / 60 %></td>
        <td><%= rank['avg_point'].to_f %></td>
        <td><%= link_to t("wrong_answer"),wrong_answer_admin_grade_path(@grade)%></td>
        <td><%= @all_users_sum_duration / 60%></td>
        <td><%= @all_users_avg_point %></td>
        <td><%= @i+=1%></td>
      </tr>
    <% end %>
  </tbody>
</table>

