<%= @wrong_answers.each do |wrong_answer| %>
<%= @question = wrong_answer.question %>
<div class="clearfix">
  <div class="pull-left">
    <%= simple_format(h("#{@question.subject} #{SingleChoiceOption.find(wrong_answer.data[:option_id]).content}")) %>
  </div>
  <div>
    <% if @question.image? %>
      <%= link_to image_tag(@question.image_url(:thumb)), @question.image_url, class: 'pull-right' %>
    <% end -%>
  </div>
</div>
<%= render "/admin/questions/#{@question.class.name.underscore}/show", { question: @question } %>
<% end %>
