<%= f.error_notification %>

<div class="form-inputs">
  <%= f.hidden_field :type, value: @question.class.name %>
  <div class="row-fluid">
    <div class="span8">
      <%= f.input :subject, input_html: { class: 'span12 can_preview', rows: 5, data: { preview: @question.object_id } } %>
    </div>
    <div class="span4" id="<%= @question.object_id %>">
      Preview
    </div>
  </div>

  <div class="control-group question_image">
    <label class="control-label" for="question_image"><%= Question.human_attribute_name(:image) %></label>
    <div class="controls">
      <div class="image">
        <% if @question.image? %>
          <%= image_tag(@question.image_url(:thumb)) %>
        <% end -%>
        <span class="upload-image">
          <%= f.file_field :image %>
        </span>
        <%= f.hidden_field :image_cache %>
      </div>
    </div>
  </div>
  
  <hr/>
  
  <%= render admin_question_by_type_path(@question, 'form'), { f: f } %>

  <hr />
  <%= f.input :hint, input_html: { class: 'span12', rows: 5 } %>
  <%= f.input :question_level_id, as: :select, collection: options_for_question_level, include_blank: false  %>
  <%= f.input :stage_id, as: :select, collection: options_for_stage, include_blank: false  %>
</div>

<div class="form-actions">
  <%= f.button :submit, class: 'btn btn-primary' %>
</div>

<%= render 'preview_js' %>
