<%= @users_exam.each do |exam| %>
	<tr>
	    <td><%= exam["user_id"] %></td>
	    <td><%= exam["avg_point"] %></td>
	    <td><%= exam["avg_duration"] %></td>
	    <td><%= exam["accuracy"] %></td>
	    <td><%= @i+=1%>
	</tr>
<% end %>