<%= simple_form_for([:admin, @stage], html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price %>

    <div class="control-group stage_video">
      <label class="control-label" for="stage_video"><%= Stage.human_attribute_name(:video) %></label>
      <div class="controls">
        <div class="video">
          <span class="upload-video">
            <%= f.file_field :video %>
          </span>
          <%= f.hidden_field :video_cache %>
        </div>
      </div>
    </div>

    <div class="control-group stage_video_poster">
      <label class="control-label" for="stage_video_poster"><%= Stage.human_attribute_name(:video_poster) %></label>
      <div class="controls">
        <div class="video_poster">
          <span class="upload-video_poster">
            <%= f.file_field :video_poster %>
          </span>
          <%= f.hidden_field :video_poster_cache %>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
