<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= Stage.human_attribute_name(:grade) %></th>
      <th><%= Stage.human_attribute_name(:name) %></th>
      <th><%= Stage.human_attribute_name(:description) %></th>
      <th><%= Stage.human_attribute_name(:price) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% stages.each do |stage| %>
      <tr>
        <td>
          <% if stage.grade %>
            <%= link_to stage.grade.name, admin_grade_path(stage.grade) %>
          <% end -%>
        </td>
        <td><%= stage.name %></td>
        <td><%= stage.description %></td>
        <td><%= stage.price %></td>
        <td class="control span2">
          <%= link_to t("show", scope: "crud"), admin_stage_path(stage) %>
          <%= link_to t("edit", scope: "crud"), edit_admin_stage_path(stage) %>
          <%= link_to t("order",scope: "crud"), ranking_admin_stage_path(stage), :method => 'post'%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
