<% content_for :title_bar do %>
  <h1><%= Stage.model_name.human %></h1>
  <div class="toolbar">
    <%= link_to t("edit", scope: "crud"), edit_admin_stage_path(@stage), class: 'btn btn-primary' %>
    <div class="btn-group">
      <button class="btn dropdown-toggle" data-toggle="dropdown"><%= t("more", scope: "crud") %> <span class="caret"></span></button>
      <ul class="dropdown-menu pull-right">
        <li><%= link_to t("destroy", scope: "crud"), admin_stage_path(@stage), confirm: t("destroy", scope: "crud.confirmation"), method: :delete %></li>
      </ul>
    </div>
    <%= link_to t("back", scope: "crud"), admin_stages_path, class: 'btn' %>
  </div>
<% end %>

<dl class="dl-horizontal">
  <% if @stage.grade %>
    <dt><%= Stage.human_attribute_name(:grade) %></dt>
    <dd><%= link_to @stage.grade.name, admin_grade_path(@stage.grade) %></dd>
  <% end -%>
  <dt><%= Stage.human_attribute_name(:name) %></dt>
  <dd><%= @stage.name %></dd>
  <dt><%= Stage.human_attribute_name(:description) %></dt>
  <dd><%= @stage.description %></dd>
  <dt><%= Stage.human_attribute_name(:price) %></dt>
  <dd><%= @stage.price %></dd>
</dl>

<% if @stage.video? %>
  <div class="clearfix">
    <script src="http://jwpsrv.com/library/YC3U+LiOEeOgdSIACi0I_Q.js"></script>
    <div id='myElement'></div>
    <script>
       jwplayer("myElement").setup({
          file: "<%= @stage.video_url %>"
      });
    </script>
  </div>
<% end -%>

<hr>

<%= render '/admin/units/list', { units: @stage.units } %>

<div>
  <%= render '/admin/map_places/list', { map_places: @stage.map_places } %>
</div>

<div id="new-map-place-container">
  <%= link_to t('crud.add', model: MapPlace.model_name.human), new_admin_stage_map_place_path(@stage), remote: true, class: 'btn btn-primary' %>
</div>
