<% content_for :title_bar do %>
  <h1><%= @stage.name %></h1>
  <div class="toolbar">
    <% unless current_user.stages.include?(@stage) %>
      <%= link_to "使用#{@stage.price}点购买", purchase_stage_path(@stage), method: :post, class: 'btn btn-success' %>
    <% else %>
      <%= link_to '已购买', '#', class: 'btn btn-success disabled' %>
    <% end -%>
    <%= link_to t("back", scope: "crud"), session.delete(:return_to), class: 'btn' %>
  </div>
<% end %>

<dl class="dl-horizontal">
  <% if @stage.grade %>
    <dt><%= Stage.human_attribute_name(:grade) %></dt>
    <dd><%= link_to @stage.grade.name, grade_path(@stage.grade) %></dd>
  <% end -%>
  <dt><%= Stage.human_attribute_name(:name) %></dt>
  <dd><%= @stage.name %></dd>
  <dt><%= Stage.human_attribute_name(:description) %></dt>
  <dd><%= @stage.description %></dd>
  <dt><%= Stage.human_attribute_name(:price) %></dt>
  <dd><%= @stage.price %></dd>
</dl>

<%= simple_format(h(@stage.description)) %>

<% if @stage.video? %>
  <link href="http://vjs.zencdn.net/4.0/video-js.css" rel="stylesheet">
  <script src="http://vjs.zencdn.net/4.0/video.js"></script>
  <%= video_tag(@stage.video_url, controls: true, poster: @stage.video_poster_url, class: 'video-js vjs-default-skin') %>
<% end -%>

<%= render '/units/list', { units: @stage.units } %>
