<% content_for :title_bar do %>
  <h1>
    <%= @unit.name %>
    <small><%= @unit.stage.try(:name) %> <%= @unit.exam_minutes %></small>
  </h1>
<%= link_to t("back", scope: "crud"), session.delete(:return_to), class: 'btn btn-small pull-right' %>

<% end %>
<ul class="selectable-question-list">
    <li>
      <%= render "/admin/questions/#{@question.class.name.underscore}/do_question", {question: @question, question_line_item: @question_line_item, answer: @answer, unit: @unit} %>
    </li>
</ul>