<% content_for :title_bar do %>
  <h1><%= t("listing", scope: "crud", model: Grade.model_name.human) %></h1>
  <div class="toolbar">
    <%= link_to t("new", scope: "crud"), new_admin_grade_path, class: 'btn btn-primary' %>
  </div>
<% end %>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= Grade.human_attribute_name(:name) %></th>
      <th><%= Grade.human_attribute_name(:description) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @grades.each do |grade| %>
      <tr>
        <td><%= grade.name %></td>
        <td><%= grade.description %></td>
        <td class="control span2">
          <%= link_to t("show", scope: "crud"), admin_grade_path(grade) %>
          <%= link_to t("edit", scope: "crud"), edit_admin_grade_path(grade) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
