<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= Exam.human_attribute_name(:user) %></th>
      <th><%= Exam.human_attribute_name(:point) %></th>
      <th><%= Exam.human_attribute_name(:duration) %></th>
      <th>error</th>
      <th><%= select_tag "unit",options_for_select([[t("avg_point", scope: "order_type"),'1'],
                                                    [t('accuracy', scope: 'order_type'),'2'],
                                                    [t('avg_duration', scope: 'order_type'),'3']]), 
                                                    prompt: t("order", scope: "order_type"), 
          :onchange =>"$.post('#{ranking_admin_grade_path(@grade)}',{'order_type': this.value})"%></td>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => "exam_ranking" ,:locals => { :users_exam => @users_exam}%>
  </tbody>
</table>


