<div class="navbar navbar-inverse navbar-fixed-top" data-dropdown="dropdown">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to t('app_name'), admin_path, class: 'brand' %>
      <ul class="nav">
        <li class="<%= 'active' if controller.class.to_s == 'Admin::DashboardController' %>"><%= link_to t('dashboard'), admin_path %></li>
        <li class="<%= 'active' if controller.class.to_s == 'Admin::QuestionsController' %>"><%= link_to Question.model_name.human, admin_questions_path %></li>
        <li class="<%= 'active' if controller.class.to_s == 'Admin::UnitsController' %>"><%= link_to Unit.model_name.human, admin_units_path %></li>
        <li class="<%= 'active' if controller.class.to_s == 'Admin::UnitsController' %>"><%= link_to t('report'), admin_reports_path %></li>
      </ul>
      <ul class="nav pull-right">
        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t('account') %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= current_user.email%></li>
              <li><%= link_to t('sign_out'), destroy_user_session_path, :method => :delete, :id => "sign-out" %></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
