<div class="navbar navbar-inverse navbar-fixed-top" data-dropdown="dropdown">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to t('app_name'), admin_path, class: 'brand' %>
      <ul class="nav">
        <li class="<%= 'active' if controller.class.to_s == 'Admin::DashboardController' %>"><%= link_to t('dashboard'), admin_path %></li>
        <li class="<%= 'active' if controller.class.to_s == 'Admin::QuestionLevelsController' %>"><%= link_to QuestionLevel.model_name.human, admin_question_levels_path %></li>
        <li class="<%= 'active' if controller.class.to_s == 'Admin::QuestionsController' %>"><%= link_to Question.model_name.human, admin_questions_path %></li>
        <li class="<%= 'active' if controller.class.to_s == 'Admin::UnitsController' %>"><%= link_to Unit.model_name.human, admin_units_path %></li>
        <li class="<%= 'active' if controller.class.to_s == 'Admin::StagesController' %>"><%= link_to Stage.model_name.human, admin_stages_path %></li>
        <li class="<%= 'active' if controller.class.to_s == 'Admin::GradesController' %>"><%= link_to Grade.model_name.human, admin_grades_path %></li>
        <li class="<%= 'active' if (controller.class.to_s == 'Admin::ExamsController') || (controller.class.to_s == 'Admin::ReviewsController') %>"><%= link_to Exam.model_name.human, admin_exams_path %></li>
        <li class="<%= 'active' if controller.class.to_s == 'Admin::ReportsController' %>"><%= link_to t('report'), admin_reports_path %></li>
        <li class="<%= 'active' if controller.class.to_s == 'Admin::OrdersController' %>"><%= link_to Order.model_name.human, admin_orders_path %></li>
        <li class="<%= 'active' if controller.class.to_s == 'Admin::CreditLineItemsController' %>"><%= link_to CreditLineItem.model_name.human, admin_credit_line_items_path %></li>
        <li class="<%= 'active' if controller.class.to_s == 'Admin::UsersController' %>"><%= link_to User.model_name.human, admin_users_path %></li>

      </ul>
      <ul class="nav pull-right">
        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t('account') %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to current_user.email, edit_user_registration_path %></li>
              <li><%= link_to t('sign_out'), destroy_user_session_path, :method => :delete, :id => "sign-out" %></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
